html, body{
background-color:#CCAAAA;
 /*url(/Users/melissaries/Documents/HTWG-Skripte/Semester4/WEB_TECH/Webseite/Nachhilfe/backgroungImage.jpg);*/
}

#header{
	background-image: url("header.jpg");
	height: 350px;
	width:1000px;
	
}

#Anmeldung{
	font-size: small;
	position: absolute;
	margin-left:700px;
	margin-top: 10px;
}
#login{
	margin-left:18px;
}
#psw{
	margin-top:0px;
}
#registrierung{
	margin-left:70px;
}
#wrapper
{
	width: 900px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding 0;
	border-radius: 15px;
	overflow: hidden;
}

li.Fach{
	float: left;
	margin: 10px 30px;
}

nav
{
	background-color: black;
	height: 30px;
}

nav a
{
	color: white;
	text-decoration: none;
}

nav a:hover
{
	text-decoration: underline;
}

#absenden{
	margin-left:70px;
}


#list submit{
margin-left:500px;
}

#navi {
  position:absolute;  
}
#navi ul {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
}

.Fach ul{
  display:none;
}
.Fach a, .Grundschule a, .Hauptschule a, .Realschule a, .Gymnasium a{
  /*padding:1px 5px;*/
  font-weight:bold;
  border:5px #FFFFFF;
  border-collapse:collapse;
  color:#FFFFFF;
  font-weight:bold;
  text-decoration:none;
  background-color:#000;
  border-collapse:collapse;
  margin:0;  
}
.Grundschule a, .Hauptschule a, .Realschule a, .Gymnasium a{
  font-size:12px;
  position:relative;
  float:down;
  clear:both;
}

.Fach:hover ul {
  display:block;  
  z-index:50;
}
#aboutUs{
	font-size:15px;
	font-weight:bold;
	/*color:#1199AA;*/
	color:#000;
	margin-left:175px;
	margin-top:100px;
	margin-bottom:150px
}

/*Video*/

/*Kommentarbox*/

#kommentar{
margin-left:600px;
margin-top:100px;
}
/*_______________________________________________________________________________________*/

#wrapper .list{
margin-left:50px;

#wrapper.senden #submit{
margin-left:300px;
} 
}